body{
	margin:0;
	padding:0;
	
}

#container{
	margin:0;
	padding:0;
	max-width:100vw;
	height:100vh;
	font-family: 'Roboto', sans-serif;
	display:flex;
	
}
#menuSide{ 
	height:100%;
	width:300px;
	min-width:300px;
	background-color:#E0E0E0;
	border-right:1px solid #C0C0C0;
}