* {
  padding: 0;
  margin: 0;
}

#form {
  display: grid;
  text-align: center;
  align-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline;
  border: 2px solid black;
  border-radius: 15px 15px;
  font-size: medium;
}

#theme-switcher {
  background: transparent;
  border: none;
  display: inline-block;
  position: fixed;
  left: 0%;
}
#h1 {
  text-align: center;
  font-size: 4rem;
  font-family: cursive;
  display: grid;
}

body,
html {
  background-image: url("./6.jpg");
  display: grid;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  color: black;
  font-family: cursive;
}

body.light {
  background-image: url("./7.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}
.main3.light {
  color: white;
}
#header {
  text-align: center;
  font-size: 4rem;
  font-family: cursive;
  display: grid;
}

.tab {
  display: inline;
  height: 50px;
  width: 500px;
  text-align: center;
  background-color: #e3e3e34b;
  font-size: 1rem;
  border-radius: 15px 15px;
  border: solid black;
  cursor: pointer;
  font-family: cursive;
  padding: 27px 10px;
}
.tablinks {
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px 15px;
  font-family: cursive;
  width: 20%;
  margin-left: 9px;
  background-color: #e3e3e39a;
  border: 2px solid black;
}

.tablinks:hover {
  background-color: #e3e3e3;
}

.main3 {
  font-size: large;
}
#task-list,
#task-work,
#task-others {
  width: 15%;
  height: auto;
  margin-left: 255px;
  margin-top: 30px;
}

#date-of-task {
  display: flex;
  height: 300px;
  width: 150%;
  border-radius: 15px 15px;
  background-color: #e3e3e34b;
  font-size: large;
  position: fixed;
  bottom: 0;
  left: 55.5rem;
  border: 5px solid black;
  text-align: left;
  margin-right: 20px;
}

input[type="text"],
input[type="date"],
#date-of-task,
#category1,
#password {
  width: 30%;
  padding: 9px 13px;
  margin: 8px 0;
  display: block;
  border: solid black;
  border-radius: 15px 15px;
}

#add-task,
#clear,
#login {
  width: 30%;
  padding: 9px 13px;
  margin: 8px 0;
  display: inline;
  border: 2px solid black;
  border-radius: 15px 15px;
  font-size: medium;
}

#personalPendeing,
#workPendeing,
#othersPendeing,
#personalCompleted,
#workCompleted,
#othersCompleted {
  border-style: solid;
  width: 100%;
  height: 100%;
  color: black;
  border: 5px solid black;
  margin: 8px;
  margin-left: 3px;
  border-radius: 15px 15px;
}

#weather {
  display: inline;
  position: fixed;
  top: 0;
  right: 0;
}
.radio {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 800px) {
  *,
  html,
  body {
    grid-template-columns: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #date-of-task {
    display: flex;
    height: 75%;
    width: 75%;
    border-radius: 15px 15px;
    background-color: #e3e3e34b;
    font-size: small;
    position: flex;
    border: 5px solid black;
    text-align: left;
  }
  .radio {
    display: none;
    transform: scale(0);
    visibility: hidden;
  }
  #weather {
    display: none;
    transform: scale(0);
    visibility: hidden;
  }
}
