* {
  padding: 0;
  margin: 0;
}

#form {
  display: flex;
flex-direction: column; 
align-content: center;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 30%;
padding: 12px 20px;
margin: 8px 0;
border: 2px solid black;
border-radius: 15px 15px;
font-size: medium;
column-gap: 2px;
}
#password, #username{
  width: 50%;
  padding: 20px 20px;
  margin: 8px 0 0px 5rem;
  display: inline-flex;
  border: solid black;
  border-radius: 15px 15px;

}
#login{
  font-size: larger;
  font-weight: bolder;
  align-items: center;
  align-content: center;
  text-align:center;
  width: 35%;
  padding: 9px 13px;
  margin: 8px 0 0px 8rem;
  display: inline;
  border: solid black;
  border-radius: 15px 15px;
} 

#theme-switcher {
  background: transparent;
  border: none;
  display: inline-block;
  position: fixed;
  left: 0%;
}
#h1 {
  text-align: center;
  font-size: 4rem;
  font-family: cursive;
  display: grid;
}

body,
html {
  background-image: url("./6.jpg");
  display: grid;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  color: black;
  font-family: cursive;
}

body.light {
  background-image: url("./7.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}
.main3.light {
  color: white;
}
#header {
  text-align: center;
  font-size: 4rem;
  font-family: cursive;
  display: grid;
}

.tab {
  display: inline;
  height: 50px;
  width: 500px;
  text-align: center;
  background-color: #e3e3e34b;
  font-size: 1rem;
  border-radius: 15px 15px;
  border: solid black;
  cursor: pointer;
  font-family: cursive;
  padding: 27px 10px;
}
.tablinks {
  font-size: 30px;
  font-weight: 700;
  border-radius: 15px 15px;
  font-family: cursive;
  width: 20%;
  margin-left: 9px;
  background-color: #e3e3e39a;
  border: 2px solid black;
}


.tablinks:hover {
  background-color: #e3e3e3;
}

.main3 {
  font-size: large;
}
#task-list,
#task-work,
#task-others {
  width: 15%;
  height: auto;
  margin-left: 255px;
  margin-top: 30px;
}

#date-of-task {
  height: 300px;
  width:20%;
  border-radius: 15px 15px;
  background-color: #e3e3e34b;
  font-size: large;
  position: fixed;
  bottom: 0;
  right: 5%;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  column-gap: 5px;
 
}
  

input[type="text"],
input[type="date"],
#category1 {
  width: 40%;
  padding: 9px 15px;
  margin: 8px 0;
  display: block;
  border: solid black;
  border-radius: 15px 15px;
} 
#category1{
  width: 70%;
}
#Addtask{
  width: 50%;
  height: auto;
}
#add-task,#clear{
  width: 45%;
  padding: 9px 13px 5px 5px;
  margin: 8px 0;
  display: inline;
  border: 2px solid black;
  border-radius: 15px 15px;
  font-size: medium;
} 

#personalPendeing,
#workPendeing,
#othersPendeing,
#personalCompleted,
#workCompleted,
#othersCompleted {
  border-style: solid;
  width: 100%;
  height: 100%;
  color: black;
  border: 5px solid black;
  margin: 8px;
  margin-left: 3px;
  border-radius: 15px 15px;
}

#weather {
  display: inline;
  position: fixed;
  top: 0;
  right: 0;
}
.radio {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media all and (max-width: 800px) {
  *,
  html,
  body {
    grid-template-columns: flex;
    justify-content: center;
    align-items: flex-start;
  }
  #date-of-task {
    display: flex;
    height: 75%;
    width: 75%;
    border-radius: 15px 15px;
    background-color: #e3e3e34b;
    font-size: small;
    position: flex;
    border: 5px solid black;
    text-align: left;
  }
  .radio {
    display: none;
    transform: scale(0);
    visibility: hidden;
  }
  #weather {
    display: none;
    transform: scale(0);
    visibility: hidden;
  }
}
